<!DOCTYPE html>
<html>
  <head>
    <title>My Fucking Addressbook</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Custom external stylesheet for new contact form -->
    <link rel="stylesheet" href="/stylesheets/new-contact.css">
    <!-- Latest minified Jquery -->
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- navigation bar -->
    <% include ./partials/_navbar %>
    <!-- contact search bar -->
    <% include ./partials/_searchbar %>

    <div class="container" style="margin-top: 5%;">
      <div class="jumbotron">
        <!-- <h2>Is this the mofo you're looking for?</h2> -->
        <% if (locals.info.length < 1) { %>
          <h2>You need to edit this mofo</h2>
        <% } else { %>
          <% locals.info.forEach(function(person) { %>
            <address>
              <strong><%= person.first_name %> <%= person.last_name %></strong><br>
              <%= person.address %><br>
              <%= person.city %>, <%= person.province %>, <%= person.postal_code %> <br>
              <%= person.country %> <br>
              <abbr title="Phone">P:</abbr> <%= person.phone_number %>
            </address>

            <address>
              <strong><%= person.first_name %> <%= person.last_name %></strong><br>
              <a href="mailto:#"><%= person.email %></a>
            </address>
          <% }) %>
        <% } %>
      <h2>Edit this mofo below</h2>
      </div>
    </div>
    <% locals.info.forEach(function(person) { %>
    <div class="row container-fluid">
      <div class="col-md-6 col-centered">
      <form class="form-horizontal new-contact-form" action="/contacts/<%= person.user_id %>/update" method="post">
      <fieldset>
      <legend>Contact Information</legend>

        <div class="form-group">
          <label class="col-md-2 control-label" for="first_name">First Name</label>
          <div class="col-md-10">
          <input type="text" name="first_name" placeholder="first name" class="form-control input-md" value="<%= person.first_name %>">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="last_name">Last Name</label>
          <div class="col-md-10">
            <input type="text" name="last_name" placeholder="last name" class="form-control input-md" value="<%= person.last_name %>">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="email">Email</label>
          <div class="col-md-10">
            <input type="email" name="email" placeholder="email"class="form-control input-md" value="<%= person.email %>">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label" for="phone_number">Phone Number</label>
          <div class="col-md-10">
            <input type="tel" name="phone_number" placeholder="xxx-xxx-xxxx" class="form-control input-md" value="<%= person.phone_number %>">
          </div>
        </div>
        <!-- Form Name -->
        <legend>Address Details</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-2 control-label" for="address">Address</label>
          <div class="col-md-10">
            <input type="text" name="address" placeholder="Address Line" class="form-control" value="<%= person.address %>">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-2 control-label" for="city">City</label>
          <div class="col-md-10">
            <input type="text" name="city" placeholder="City" class="form-control" value="<%= person.city %>">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-2 control-label" for="province">Province</label>
          <div class="col-md-4">
            <input type="text" name="province" placeholder="Province" class="form-control" value="<%= person.province %>">
          </div>

          <label class="col-md-2 control-label" for="postal_code">Postal Code</label>
          <div class="col-md-4">
            <input type="text" name="postal_code" placeholder="Postal Code" class="form-control" value="<%= person.postal_code %>">
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-2 control-label" for="country">Country</label>
          <div class="col-md-10">
            <input type="text" name="country" placeholder="Country" class="form-control" value="<%= person.country %>">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <div class="pull-right">
              <button type="reset" class="btn btn-default"><a href="/">Cancel</a></button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
      <% }) %>
      </fieldset>
      </form>
      </div>
    </div>
  </body>
</html>
