  <!DOCTYPE html>
  <html>
    <head>
      <title>My Fucking Addressbook</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <!-- Custom external stylesheet -->
      <link rel="stylesheet" href="/stylesheets/custom.css">
      <!-- Latest minified Jquery -->
      <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>
    <body>
      <% include ./partials/_navbar %>
      <div class="container-fluid" style="margin-top: 5%;">
        <div class="col-md-6 col-md-offset-3">
          <!-- Search Form -->
          <form role="form" action="/query_result" method="post">
          <!-- Search Field -->
            <div class="row">
              <h1 class="text-center">Look Some Mofo Up</h1>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" type="text" name="find_contact" placeholder="Search By First or Last Name" required/>
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"><span style="margin-left:10px;">Search</span></button>
                  </span>
                  </span>
                </div>
              </div>
            </div>
          </form>
            <!-- End of Search Form -->
        </div>
      </div>
      <div class="container">
        <div class="jumbotron">
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
          <h2>My Friends</h2>
            <% locals.users.forEach(function(user) { %>
              <address>
                <strong><%= user.first_name %> <%= user.last_name %></strong><br>
                <%= user.address %><br>
                <%= user.city %>, <%= user.province %>, <%= user.postal_code %> <br>
                <%= user.country %> <br>
                <abbr title="Phone">P:</abbr> <%= user.phone_number %>
              </address>

              <address>
                <strong><%= user.first_name %> <%= user.last_name %></strong><br>
                <a href="mailto:#"><%= user.email %></a>
              </address>
            <% }) %>
        </div>
      </div>
    </body>
  </html>
